{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Parola Tanımla" %} - Yapistir.io!{% endblock %}

{% block content %}
    <section class="is-success is-fullheight">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-6 is-offset-3">
                    <div class="field is-vcentered">
                        <div class="content">
                            <h3 class="title">{% trans "Parola Tanımla" %}</h3>
                            <p class="subtitle"> Bu alanı kullanarak hesabınıza parola tanımlayabilirsiniz.</p>
                            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                                {% csrf_token %}
                                <div class="field">
                                    <label class="label">Parola:</label>
                                    <div class="control">
                                        {% render_field form.password1 class+="input is-large" placeholder="Parola" %}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Parola tekrarı:</label>
                                    <div class="control">
                                        {% render_field form.password2 class+="input is-large" placeholder="Parola tekrarı" %}
                                    </div>
                                </div>
                                <button class="button is-info is-block" type="submit"
                                        name="action">{% trans 'Parola Tanımla' %}</button>
                            </form>
                        </div>
                        {% if form.errors %}
                            <div class="columns is-fullwidth">
                                <div class="column">
                                    <div class="notification is-danger">
                                        <button class="delete"></button>
                                        {% for field in form %}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <a href="#id_{{ field.name }}"
                                                       class="error">{{ field.name }} {{ error|escape }}</a>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if form.non_field_errors %}
                                            {{ form.non_field_errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
