{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <section class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-6 is-offset-3">
                    <div class="field">
                        <div class="content">
                            <h1>{% if token_fail %}Hatalı Token{% else %}
                                Parola Değiştir{% endif %}</h1>
                            <div class="box">
                                {% if token_fail %}
                                    {% url 'account_reset_password' as passwd_reset_url %}
                                    <p>Şifre sıfırlama bağlantısı geçersizdi, muhtemelen daha önce kullanıldı. Lütfen
                                        yeni
                                        bir <a href="{{ passwd_reset_url }}"> şifre sıfırlama isteğinde </a> bulunun.
                                    </p>
                                {% else %}
                                    {% if form %}
                                        <form action="{{ action_url }}" method="POST">
                                            {% csrf_token %}
                                            <div class="field">
                                                <div class="control">
                                                    {% render_field form.password1 class+="input is-large" placeholder="Parola" %}
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="control">
                                                    {% render_field form.password2 class+="input is-large" placeholder="Parola tekrarı" %}
                                                </div>
                                                {{ form.helptext }}
                                            </div>
                                            <button type="submit" class="button is-block is-info is-large is-fullwidth">
                                                Değiştir
                                            </button>
                                        </form>
                                    {% else %}
                                        <p>{% trans 'Your password is now changed.' %}</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if form.errors %}
                        <div class="is-fullwidth">
                            <div class="column">
                                <div class="notification is-danger">
                                    <button class="delete"></button>
                                    {% for field in form %}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <a href="#id_{{ field.name }}"
                                                   class="error">{{ field.name }} {{ error|escape }}</a>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if form.non_field_errors %}
                                        {{ form.non_field_errors }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
