{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Parola Değiştir - Yapistir.io!{% endblock title %}

{% block js_header %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/login.css" %}">
{% endblock js_header %}

{% block content %}
    <section class="is-success is-fullheight">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Parola Değiştir</h3>
                <p class="subtitle has-text-grey">Lütfen eski parolanız ile birlikte yeni parola bilgilerinizi eksiksiz
                    giriniz.</p>
                <div class="box">
                    <form action="." method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control">
                                {% render_field form.oldpassword class+="input is-large" placeholder="Eski Parolanız" %}
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                {% render_field form.password1 class+="input is-large" placeholder="Yeni Parola" %}
                            </div>
                            {{ form.helptext }}
                        </div>
                        <div class="field">
                            <div class="control">
                                {% render_field form.password2 class+="input is-large" placeholder="Yeni Parola Tekrar" %}
                            </div>
                        </div>
                        <button type="submit" class="button is-block is-info is-large is-fullwidth">Değiştir</button>
                    </form>
                </div>
                {% include "include/__errors.html" %}
            </div>
        </div>
    </section>
{% endblock content %}
