{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %} Parola Sıfırlama {% endblock title %}

{% block js_header %}
    <meta http-equiv="refresh" content="1;url={% url 'account_login' %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/login.css" %}">
{% endblock js_header %}

{% block content %}
    <section class="is-success is-fullheight">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <h1>Yönlendiriliyorsunuz...</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
