{% extends 'base.html' %}

{% block title %}Parola Sıfırla - Yapistir.io! {% endblock %}

{% block content %}
    <section class="hero-body">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column">
                    <div class="field is-vcentered">
                        <div class="content">
                            {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}
                            <strong>Parola sıfırlama isteğiniz tarafımıza ulaştı!</strong> Lütfen e-posta hesabını
                            kontrol et!
                            <div class="has-text-centered"><a href="{% url 'paste_new' %}"
                                                              class="btn btn-secondary">Ana Sayfaya Geri Dön</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
