{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load recaptcha2 %}

{% block title %} Parolamı Unuttum - Yapistir.io!{% endblock title %}

{% block js_header %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/login.css" %}">
    {% recaptcha_init 'tr' %}
{% endblock js_header %}

{% block content %}
    <section class="is-success is-fullheight">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-6 is-offset-3">
                    <h3 class="title">Parolanızı mı Unuttunuz?</h3>
                    <p class="subtitle">Lütfen sizden istenen bilgilerinizi giriniz. Parolanızı sıfırlarken herhangi bir
                        sorunla karşılaşırsanız lütfen bize ulaşın.</p>
                    <div class="box">
                        <form action="." method="POST">
                            {% csrf_token %}
                            <div class="field">
                                <label class="label">E-Posta adresiniz:</label>
                                <div class="control">
                                    {% render_field form.email class+="input is-large" placeholder="E-Posta Adresiniz" %}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ form.captcha }}
                                </div>
                            </div>
                            <button type="submit" class="button is-block is-info is-large is-fullwidth">Parolamı Sıfırla
                            </button>
                        </form>
                    </div>
                    {% include "include/__errors.html" %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
