{% extends 'base.html' %}

{% block content %}
    <section class="hero-body">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column">
                    <div class="field is-vcentered">
                        <div class="content">
                            <h2>Doğrulama için size bir e-posta gönderdik. Kayıt işlemini tamamlamak için verilen
                                bağlantıyı takip edin. Birkaç dakika içinde almazsanız lütfen bizimle iletişime
                                geçin.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
