{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
            <div class="field">
                <a title="{{ brand.name }}"
                   class="button is-medium is-{{ brand.name|lower }} socialaccount_provider is-fullwidth {{ provider.id }} {{ brand.id }}"
                   href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
                        <span class="icon">
                          <i class="fab fa-{{ brand.name|lower }}"></i>
                        </span>
                    <span>{{ brand.name }} Hesabını Bağla</span>
                </a>
            </div>
        {% endfor %}
    {% endif %}

    <div class="field">
        <a class="button is-medium is-{{ provider.name|lower }} is-fullwidth socialaccount_provider {{ provider.id }}"
           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                        <span class="icon">
                          <i class="fab fa-{{ provider.name|lower }}"></i>
                        </span>
            <span>{{ provider.name }} Hesabını Bağla</span>
        </a>
    </div>
{% endfor %}
