{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans 'Yapıştır.io! - Yardım' %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    <h1 class="title">{% trans 'Nasıl Kullanılır' %}</h1>
                    <h2 class="subtitle">
                        <br>
                        <p>{% trans 'ccccc' %}</p>
                    </h2>
                </div>
                <div class="column">
                    <h1 class="title">{% trans 'Gerekler' %}</h1>
                    <p></p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
